<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	  crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/mystyle.css"
	th:href="@{/css/mystyle.css}" media="screen">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="fragments/body :: headline (txt='als admin neuen nutzer anlegen?' )"></div>
	<br>
	<div class="container">
		<h5>neuer nutzer ...</h5>
		<form class="bs-example error" th:action="@{/users/create}"
			th:object="${myform}" method="post" role="form">
			<input type="text" name="firstName" class="form-control"
				placeholder="firstname" required="required" autofocus="autofocus" >
			<input type="text" name="lastName" class="form-control"
				placeholder="lastname" required="required" autofocus="autofocus" >
			<input type="text" name="loginName" class="form-control"
				placeholder="nickname" required="required" autofocus="autofocus" >
			<input type="password" name="password" class="form-control"
				placeholder="passwort" required="required" > 
			<input type="password"
				name="passwordRepeated" class="form-control"
				placeholder="passwort wiederholen" required="required"> <br>
			<div class="error">
				<input type="submit" class="btn btn-outline-primary"
					th:value="speichern" > 
				<a><span class="error text-danger"
					th:if="${error}" th:text="${error}">The email or password
						you have entered is invalid, try again.</span></a>
			</div>
		</form>
	</div>
	<br>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>